
  <!-- <h1 title="by Dheeraj Kumar Rao">
    Welcome to {{ title }}!
  </h1> -->
  <div class="container">
    <form [formGroup] = "form">
      <h1>Base Converter</h1>
      <div class="form-group">
        <label for="usr">decimal :</label>
        <input type="text" class="form-control" name="decimal"
        (ngModelChange)="decimalChange(oldValue, newValue= $event)" formControlName="decimal">
      </div>
      <div class="form-group">
        <label for="usr">binary :</label>
        <input type="text" class="form-control" name="binary"
        (ngModelChange)="binaryChange(oldValue, newValue= $event)" formControlName="binary">
      </div>
      <div class="form-group">
        <label for="usr">octal :</label>
        <input type="text" class="form-control" name="octal"
        (ngModelChange)="octalChange(oldValue, newValue= $event)" formControlName="octal">
      </div>
      <div class="form-group">
        <label for="usr">hexa:</label>
        <input type="text" class="form-control" name="hexa"
        (ngModelChange)="hexaChange(oldValue, newValue= $event)" formControlName="hexa">
      </div>


    </form>
  </div>

